<%= form_for @purchase, html: { class: 'form-horizontal' } do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :category, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :quantity, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.number_field :quantity, class: 'form-control' %>      
    </div>
  </div>
  <div class="form-group">
    <%= f.label :invoice_id, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4"> 
      <%= f.text_field :invoice_id, class: 'form-control', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= f.submit 'Submit', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
