<p id="notice"><%= notice %></p>

<h1>Listing Purchases</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Invoice</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @purchases.each do |purchase| %>
          <tr>
            <td><%= purchase.name %></td>
            <td><%= purchase.category %></td>
            <td><%= purchase.quantity %></td>
            <td><%= purchase.invoice_id %></td>
            <td><%= link_to 'Show', purchase, class: 'btn btn-default btn-xs' %></td>
            <td><%= link_to 'Edit', edit_purchase_path(purchase), class: 'btn btn-success btn-xs' %></td>
            <td><%= link_to 'Destroy', purchase, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
