<div class="row">
  <%= form_for @company, html: { class: 'form-horizontal' } do |f| %>
    <% if @company.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

        <ul>
        <% @company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-3">
        <%= f.text_field :name, class: 'form-control' %>
      </div>  
    </div>
    <div class="form-group">
      <%= f.label :manager, class: 'col-sm-2 control-label' %>
      <div class="col-sm-3">
        <%= f.text_field :manager, class: 'form-control' %>
      </div>  
    </div>
    <div class="form-group">
      <%= f.label :status, class: 'col-sm-2 control-label' %>
      <div class="col-sm-3">
        <%= f.text_field :status, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :terms, class: 'col-sm-2 control-label' %>
      <div class="col-sm-3">
        <%= f.number_field :terms %>
      </div>  
    </div>
    <div class="form-group actions">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Submit", class: 'btn btn-default' %>        
      </div>
    </div>
  <% end %>
</div>

